In [4]:
import pandas as pd
import numpy as np
import os
import time
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

#Change directory
os.chdir(r"C:\Users\Matome.Molokome\Desktop\Unisa\2021\HRCOS82 Research\favorita-grocery-sales-forecasting")

start_time = time.time()
chunk = pd.read_csv('train.csv',dtype={"id": object, "date": object,"store_nbr": object,"item_nbr": object,
                                         "unit_sales": float, "onpromotion": object
                                        },chunksize=1000000)


df = pd.concat(chunk)

end_time = time.time()

print ("Completed in",(end_time-start_time))


#df.sample(10)

Completed in 311.4338984489441

In [5]:
df.sample(10)
df.dtypes

id              object
date            object
store_nbr       object
item_nbr        object
unit_sales     float64
onpromotion     object
dtype: object

In [6]:
stores = pd.read_csv('stores.csv',dtype={"store_nbr": object})

# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
stores ['type_numeric'] = labelencoder.fit_transform(stores ['type'])
stores ['city_numeric'] = labelencoder.fit_transform(stores ['city'])
stores ['state_numeric'] = labelencoder.fit_transform(stores ['state'])
stores

,store_nbr,city,state,type,cluster,type_numeric,city_numeric,state_numeric
0,1,Quito,Pichincha,D,13,3,18,12
1,2,Quito,Pichincha,D,13,3,18,12
2,3,Quito,Pichincha,D,8,3,18,12
3,4,Quito,Pichincha,D,9,3,18,12
4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4,3,21,14
5,6,Quito,Pichincha,D,13,3,18,12
6,7,Quito,Pichincha,D,8,3,18,12
7,8,Quito,Pichincha,D,8,3,18,12
8,9,Quito,Pichincha,B,6,1,18,12
9,10,Quito,Pichincha,C,15,2,18,12
10,11,Cayambe,Pichincha,B,6,1,2,12
11,12,Latacunga,Cotopaxi,C,15,2,10,3
12,13,Latacunga,Cotopaxi,C,15,2,10,3
13,14,Riobamba,Chimborazo,C,7,2,19,2
14,15,Ibarra,Imbabura,C,15,2,9,7
15,16,Santo Domingo,Santo Domingo de los Tsachilas,C,3,2,21,14
16,17,Quito,Pichincha,C,12,2,18,12
17,18,Quito,Pichincha,B,16,1,18,12
18,19,Guaranda,Bolivar,C,15,2,7,1
19,20,Quito,Pichincha,B,6,1,18,12
20,21,Santo Domingo,Santo Domingo de los Tsachilas,B,6,1,21,14
21,22,Puyo,Pastaza,C,7,2,16,11
22,23,Ambato,Tungurahua,D,9,3,0,15
23,24,Guayaquil,Guayas,D,1,3,8,6
24,25,Salinas,Santa Elena,D,1,3,20,13
25,26,Guayaquil,Guayas,D,10,3,8,6
26,27,Daule,Guayas,D,1,3,4,6
27,28,Guayaquil,Guayas,E,10,4,8,6
28,29,Guayaquil,Guayas,E,10,4,8,6
29,30,Guayaquil,Guayas,C,3,2,8,6
30,31,Babahoyo,Los Rios,B,10,1,1,9
31,32,Guayaquil,Guayas,C,3,2,8,6
32,33,Quevedo,Los Rios,C,3,2,17,9
33,34,Guayaquil,Guayas,B,6,1,8,6
34,35,Playas,Guayas,C,3,2,15,6
35,36,Libertad,Guayas,E,10,4,11,6
36,37,Cuenca,Azuay,D,2,3,3,0
37,38,Loja,Loja,D,4,3,12,8
38,39,Cuenca,Azuay,B,6,1,3,0
39,40,Machala,El Oro,C,3,2,13,4
40,41,Machala,El Oro,D,4,3,13,4
41,42,Cuenca,Azuay,D,2,3,3,0
42,43,Esmeraldas,Esmeraldas,E,10,4,6,5
43,44,Quito,Pichincha,A,5,0,18,12
44,45,Quito,Pichincha,A,11,0,18,12
45,46,Quito,Pichincha,A,14,0,18,12
46,47,Quito,Pichincha,A,14,0,18,12
47,48,Quito,Pichincha,A,14,0,18,12
48,49,Quito,Pichincha,A,11,0,18,12
49,50,Ambato,Tungurahua,A,14,0,0,15
50,51,Guayaquil,Guayas,A,17,0,8,6
51,52,Manta,Manabi,A,11,0,14,10
52,53,Manta,Manabi,D,13,3,14,10
53,54,El Carmen,Manabi,C,3,2,5,10

In [7]:
oil = pd.read_csv('oil.csv')
print(oil)
oil.dtypes

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
6     2013-01-09       93.08
7     2013-01-10       93.81
8     2013-01-11       93.60
9     2013-01-14       94.27
10    2013-01-15       93.26
11    2013-01-16       94.28
12    2013-01-17       95.49
13    2013-01-18       95.61
14    2013-01-21         NaN
15    2013-01-22       96.09
16    2013-01-23       95.06
17    2013-01-24       95.35
18    2013-01-25       95.15
19    2013-01-28       95.95
20    2013-01-29       97.62
21    2013-01-30       97.98
22    2013-01-31       97.65
23    2013-02-01       97.46
24    2013-02-04       96.21
25    2013-02-05       96.68
26    2013-02-06       96.44
27    2013-02-07       95.84
28    2013-02-08       95.71
29    2013-02-11       97.01
...          ...         ...
1188  2017-07-21       45.78
1189  2017-07-24       46.21
1190  2017-07-25       47.77
1191  2017-07-26       48.58
1192  2017-07-27       49.05
1193  2017-07-28       49.72
1194  2017-07-31       50.21
1195  2017-08-01       49.19
1196  2017-08-02       49.60
1197  2017-08-03       49.03
1198  2017-08-04       49.57
1199  2017-08-07       49.37
1200  2017-08-08       49.07
1201  2017-08-09       49.59
1202  2017-08-10       48.54
1203  2017-08-11       48.81
1204  2017-08-14       47.59
1205  2017-08-15       47.57
1206  2017-08-16       46.80
1207  2017-08-17       47.07
1208  2017-08-18       48.59
1209  2017-08-21       47.39
1210  2017-08-22       47.65
1211  2017-08-23       48.45
1212  2017-08-24       47.24
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

date           object
dcoilwtico    float64
dtype: object

In [8]:
items = pd.read_csv('items.csv',dtype={"item_nbr": object})
# creating instance of labelencoder
labelencoder = LabelEncoder()
# Assigning numerical values and storing in another column
items ['family_numeric'] = labelencoder.fit_transform(items ['family'])
print(items)
items.dtypes

     item_nbr            family  class  perishable  family_numeric
0       96995         GROCERY I   1093           0              12
1       99197         GROCERY I   1067           0              12
2      103501          CLEANING   3008           0               7
3      103520         GROCERY I   1028           0              12
4      103665      BREAD/BAKERY   2712           1               5
5      105574         GROCERY I   1045           0              12
6      105575         GROCERY I   1045           0              12
7      105576         GROCERY I   1045           0              12
8      105577         GROCERY I   1045           0              12
9      105693         GROCERY I   1034           0              12
10     105737         GROCERY I   1044           0              12
11     105857         GROCERY I   1092           0              12
12     106716         GROCERY I   1032           0              12
13     108079         GROCERY I   1030           0              12
14     108634         GROCERY I   1075           0              12
15     108696              DELI   2636           1               9
16     108698              DELI   2644           1               9
17     108701              DELI   2644           1               9
18     108786          CLEANING   3044           0               7
19     108797         GROCERY I   1004           0              12
20     108831           POULTRY   2416           1              28
21     108833              EGGS   2502           1              10
22     108862         GROCERY I   1062           0              12
23     108952          CLEANING   3024           0               7
24     111223         GROCERY I   1034           0              12
25     111397         GROCERY I   1072           0              12
26     112830         GROCERY I   1044           0              12
27     114778         GROCERY I   1016           0              12
28     114790         GROCERY I   1004           0              12
29     114799     PERSONAL CARE   4126           0              25
...       ...               ...    ...         ...             ...
4070  2127992         GROCERY I   1028           0              12
4071  2128628         BEVERAGES   1122           0               3
4072  2128799         BEVERAGES   1148           0               3
4073  2129334         GROCERY I   1086           0              12
4074  2129350         GROCERY I   1086           0              12
4075  2129387         GROCERY I   1068           0              12
4076  2129515         GROCERY I   1042           0              12
4077  2129616         BEVERAGES   1124           0               3
4078  2129678         GROCERY I   1030           0              12
4079  2129786         GROCERY I   1016           0              12
4080  2129790         GROCERY I   1094           0              12
4081  2129892         GROCERY I   1092           0              12
4082  2129994         GROCERY I   1092           0              12
4083  2130131         GROCERY I   1092           0              12
4084  2130219         GROCERY I   1094           0              12
4085  2130265         GROCERY I   1094           0              12
4086  2130352         GROCERY I   1094           0              12
4087  2130474         GROCERY I   1064           0              12
4088  2130521         GROCERY I   1040           0              12
4089  2130526         GROCERY I   1030           0              12
4090  2130553  LIQUOR,WINE,BEER   1318           0              22
4091  2131010  LIQUOR,WINE,BEER   1328           0              22
4092  2131572         GROCERY I   1002           0              12
4093  2131699         GROCERY I   1002           0              12
4094  2132163         GROCERY I   1040           0              12
4095  2132318         GROCERY I   1002           0              12
4096  2132945         GROCERY I   1026           0              12
4097  2132957         GROCERY I   1068           0              12
4098  2134058         BEVERAGES   1124           0               3
4099  2134244  LIQUOR,WINE,BEER   1364           0              22

[4100 rows x 5 columns]

item_nbr          object
family            object
class              int64
perishable         int64
family_numeric     int32
dtype: object

In [9]:
transactions = pd.read_csv('transactions.csv', dtype={"store_nbr": object})
print(transactions)
transactions.dtypes

             date store_nbr  transactions
0      2013-01-01        25           770
1      2013-01-02         1          2111
2      2013-01-02         2          2358
3      2013-01-02         3          3487
4      2013-01-02         4          1922
5      2013-01-02         5          1903
6      2013-01-02         6          2143
7      2013-01-02         7          1874
8      2013-01-02         8          3250
9      2013-01-02         9          2940
10     2013-01-02        10          1293
11     2013-01-02        11          3547
12     2013-01-02        12          1362
13     2013-01-02        13          1102
14     2013-01-02        14          2002
15     2013-01-02        15          1622
16     2013-01-02        16          1167
17     2013-01-02        17          1580
18     2013-01-02        18          1635
19     2013-01-02        19          1369
20     2013-01-02        23          1381
21     2013-01-02        24          2605
22     2013-01-02        25          1038
23     2013-01-02        26          1008
24     2013-01-02        27          1386
25     2013-01-02        28           950
26     2013-01-02        30           708
27     2013-01-02        31          1401
28     2013-01-02        32           776
29     2013-01-02        33          1163
...           ...       ...           ...
83458  2017-08-15        25           849
83459  2017-08-15        26           534
83460  2017-08-15        27          1543
83461  2017-08-15        28          1343
83462  2017-08-15        29          1302
83463  2017-08-15        30           825
83464  2017-08-15        31          1360
83465  2017-08-15        32           615
83466  2017-08-15        33           919
83467  2017-08-15        34          2007
83468  2017-08-15        35           612
83469  2017-08-15        36          1192
83470  2017-08-15        37          1373
83471  2017-08-15        38          1445
83472  2017-08-15        39          1425
83473  2017-08-15        40          1392
83474  2017-08-15        41          1003
83475  2017-08-15        42           995
83476  2017-08-15        43          1482
83477  2017-08-15        44          3815
83478  2017-08-15        45          3685
83479  2017-08-15        46          3197
83480  2017-08-15        47          3581
83481  2017-08-15        48          2722
83482  2017-08-15        49          2814
83483  2017-08-15        50          2804
83484  2017-08-15        51          1573
83485  2017-08-15        52          2255
83486  2017-08-15        53           932
83487  2017-08-15        54           802

[83488 rows x 3 columns]

date            object
store_nbr       object
transactions     int64
dtype: object

In [10]:
holidays_events = pd.read_csv('holidays_events.csv')
holidays_events ['Holiday'] = '1'
print(holidays_events)
holidays_events.dtypes

           date        type    locale                     locale_name  \
0    2012-03-02     Holiday     Local                           Manta
1    2012-04-01     Holiday  Regional                        Cotopaxi
2    2012-04-12     Holiday     Local                          Cuenca
3    2012-04-14     Holiday     Local                        Libertad
4    2012-04-21     Holiday     Local                        Riobamba
5    2012-05-12     Holiday     Local                            Puyo
6    2012-06-23     Holiday     Local                        Guaranda
7    2012-06-25     Holiday  Regional                        Imbabura
8    2012-06-25     Holiday     Local                       Latacunga
9    2012-06-25     Holiday     Local                         Machala
10   2012-07-03     Holiday     Local                   Santo Domingo
11   2012-07-03     Holiday     Local                       El Carmen
12   2012-07-23     Holiday     Local                         Cayambe
13   2012-08-05     Holiday     Local                      Esmeraldas
14   2012-08-10     Holiday  National                         Ecuador
15   2012-08-15     Holiday     Local                        Riobamba
16   2012-08-24     Holiday     Local                          Ambato
17   2012-09-28     Holiday     Local                          Ibarra
18   2012-10-07     Holiday     Local                         Quevedo
19   2012-10-09     Holiday  National                         Ecuador
20   2012-10-12    Transfer  National                         Ecuador
21   2012-11-02     Holiday  National                         Ecuador
22   2012-11-03     Holiday  National                         Ecuador
23   2012-11-06     Holiday  Regional  Santo Domingo de los Tsachilas
24   2012-11-07     Holiday  Regional                     Santa Elena
25   2012-11-10     Holiday     Local                        Guaranda
26   2012-11-11     Holiday     Local                       Latacunga
27   2012-11-12     Holiday     Local                          Ambato
28   2012-12-05  Additional     Local                           Quito
29   2012-12-06     Holiday     Local                           Quito
..          ...         ...       ...                             ...
320  2017-07-23     Holiday     Local                         Cayambe
321  2017-07-24  Additional     Local                       Guayaquil
322  2017-07-25  Additional     Local                       Guayaquil
323  2017-08-05     Holiday     Local                      Esmeraldas
324  2017-08-10     Holiday  National                         Ecuador
325  2017-08-11    Transfer  National                         Ecuador
326  2017-08-15     Holiday     Local                        Riobamba
327  2017-08-24     Holiday     Local                          Ambato
328  2017-09-28     Holiday     Local                          Ibarra
329  2017-09-29    Transfer     Local                          Ibarra
330  2017-10-07     Holiday     Local                         Quevedo
331  2017-10-09     Holiday  National                         Ecuador
332  2017-11-02     Holiday  National                         Ecuador
333  2017-11-03     Holiday  National                         Ecuador
334  2017-11-06     Holiday  Regional  Santo Domingo de los Tsachilas
335  2017-11-07     Holiday  Regional                     Santa Elena
336  2017-11-10     Holiday     Local                        Guaranda
337  2017-11-11     Holiday     Local                       Latacunga
338  2017-11-12     Holiday     Local                          Ambato
339  2017-12-05  Additional     Local                           Quito
340  2017-12-06     Holiday     Local                           Quito
341  2017-12-08     Holiday     Local                            Loja
342  2017-12-08    Transfer     Local                           Quito
343  2017-12-21  Additional  National                         Ecuador
344  2017-12-22     Holiday     Local                         Salinas
345  2017-12-22  Additional  National                         Ecuador
346  2017-12-23  Additional  National                         Ecuador
347  2017-12-24  Additional  National                         Ecuador
348  2017-12-25     Holiday  National                         Ecuador
349  2017-12-26  Additional  National                         Ecuador

                                description  transferred Holiday
0                        Fundacion de Manta        False       1
1             Provincializacion de Cotopaxi        False       1
2                       Fundacion de Cuenca        False       1
3                 Cantonizacion de Libertad        False       1
4                 Cantonizacion de Riobamba        False       1
5                    Cantonizacion del Puyo        False       1
6                 Cantonizacion de Guaranda        False       1
7             Provincializacion de Imbabura        False       1
8                Cantonizacion de Latacunga        False       1
9                      Fundacion de Machala        False       1
10               Fundacion de Santo Domingo        False       1
11               Cantonizacion de El Carmen        False       1
12                 Cantonizacion de Cayambe        False       1
13                  Fundacion de Esmeraldas        False       1
14            Primer Grito de Independencia        False       1
15                    Fundacion de Riobamba        False       1
16                      Fundacion de Ambato        False       1
17                      Fundacion de Ibarra        False       1
18                 Cantonizacion de Quevedo        False       1
19               Independencia de Guayaquil         True       1
20      Traslado Independencia de Guayaquil        False       1
21                          Dia de Difuntos        False       1
22                  Independencia de Cuenca        False       1
23       Provincializacion de Santo Domingo        False       1
24            Provincializacion Santa Elena        False       1
25                Independencia de Guaranda        False       1
26               Independencia de Latacunga        False       1
27                  Independencia de Ambato        False       1
28                     Fundacion de Quito-1        False       1
29                       Fundacion de Quito        False       1
..                                      ...          ...     ...
320                Cantonizacion de Cayambe        False       1
321                Fundacion de Guayaquil-1        False       1
322                  Fundacion de Guayaquil        False       1
323                 Fundacion de Esmeraldas        False       1
324           Primer Grito de Independencia         True       1
325  Traslado Primer Grito de Independencia        False       1
326                   Fundacion de Riobamba        False       1
327                     Fundacion de Ambato        False       1
328                     Fundacion de Ibarra         True       1
329                     Fundacion de Ibarra        False       1
330                Cantonizacion de Quevedo        False       1
331              Independencia de Guayaquil        False       1
332                         Dia de Difuntos        False       1
333                 Independencia de Cuenca        False       1
334      Provincializacion de Santo Domingo        False       1
335           Provincializacion Santa Elena        False       1
336               Independencia de Guaranda        False       1
337              Independencia de Latacunga        False       1
338                 Independencia de Ambato        False       1
339                    Fundacion de Quito-1        False       1
340                      Fundacion de Quito         True       1
341                       Fundacion de Loja        False       1
342             Traslado Fundacion de Quito        False       1
343                               Navidad-4        False       1
344                Cantonizacion de Salinas        False       1
345                               Navidad-3        False       1
346                               Navidad-2        False       1
347                               Navidad-1        False       1
348                                 Navidad        False       1
349                               Navidad+1        False       1

[350 rows x 7 columns]

date           object
type           object
locale         object
locale_name    object
description    object
transferred      bool
Holiday        object
dtype: object

In [11]:

df.describe()

         unit_sales
count  1.254970e+08
mean   8.554865e+00
std    2.360515e+01
min   -1.537200e+04
25%    2.000000e+00
50%    4.000000e+00
75%    9.000000e+00
max    8.944000e+04

In [12]:
df.isnull().sum()

id                    0
date                  0
store_nbr             0
item_nbr              0
unit_sales            0
onpromotion    21657651
dtype: int64

In [13]:
df[df.isnull().any(axis=1)]

                id        date store_nbr item_nbr  unit_sales onpromotion
0                0  2013-01-01        25   103665       7.000         NaN
1                1  2013-01-01        25   105574       1.000         NaN
2                2  2013-01-01        25   105575       2.000         NaN
3                3  2013-01-01        25   108079       1.000         NaN
4                4  2013-01-01        25   108701       1.000         NaN
5                5  2013-01-01        25   108786       3.000         NaN
6                6  2013-01-01        25   108797       1.000         NaN
7                7  2013-01-01        25   108952       1.000         NaN
8                8  2013-01-01        25   111397      13.000         NaN
9                9  2013-01-01        25   114790       3.000         NaN
10              10  2013-01-01        25   114800       1.000         NaN
11              11  2013-01-01        25   115267       1.000         NaN
12              12  2013-01-01        25   115611       1.000         NaN
13              13  2013-01-01        25   115693       1.000         NaN
14              14  2013-01-01        25   115720       5.000         NaN
15              15  2013-01-01        25   115850       1.000         NaN
16              16  2013-01-01        25   115891       6.000         NaN
17              17  2013-01-01        25   115892      10.000         NaN
18              18  2013-01-01        25   115894       5.000         NaN
19              19  2013-01-01        25   119024       1.000         NaN
20              20  2013-01-01        25   119026       1.000         NaN
21              21  2013-01-01        25   119141       1.000         NaN
22              22  2013-01-01        25   119187       1.000         NaN
23              23  2013-01-01        25   119624       4.000         NaN
24              24  2013-01-01        25   123927       1.000         NaN
25              25  2013-01-01        25   129635      11.000         NaN
26              26  2013-01-01        25   153239       3.000         NaN
27              27  2013-01-01        25   153267       9.000         NaN
28              28  2013-01-01        25   153395       7.000         NaN
29              29  2013-01-01        25   155607       2.000         NaN
...            ...         ...       ...      ...         ...         ...
21657621  21657621  2014-03-31        54  1575249       1.000         NaN
21657622  21657622  2014-03-31        54  1576316       1.000         NaN
21657623  21657623  2014-03-31        54  1584576       1.000         NaN
21657624  21657624  2014-03-31        54  1609724       5.000         NaN
21657625  21657625  2014-03-31        54  1660260      12.000         NaN
21657626  21657626  2014-03-31        54  1660271       6.000         NaN
21657627  21657627  2014-03-31        54  1672580      10.000         NaN
21657628  21657628  2014-03-31        54  1686637      28.000         NaN
21657629  21657629  2014-03-31        54  1686641       6.000         NaN
21657630  21657630  2014-03-31        54  1686668       6.000         NaN
21657631  21657631  2014-03-31        54  1689854       8.000         NaN
21657632  21657632  2014-03-31        54  1693652      16.000         NaN
21657633  21657633  2014-03-31        54  1693653      23.000         NaN
21657634  21657634  2014-03-31        54  1695815       2.000         NaN
21657635  21657635  2014-03-31        54  1695820       6.000         NaN
21657636  21657636  2014-03-31        54  1695847      11.577         NaN
21657637  21657637  2014-03-31        54  1695875       2.000         NaN
21657638  21657638  2014-03-31        54  1695956       6.489         NaN
21657639  21657639  2014-03-31        54  1695972      43.064         NaN
21657640  21657640  2014-03-31        54  1695979       1.972         NaN
21657641  21657641  2014-03-31        54  1695983       9.000         NaN
21657642  21657642  2014-03-31        54  1695991      24.000         NaN
21657643  21657643  2014-03-31        54  1695995      20.337         NaN
21657644  21657644  2014-03-31        54  1696026      16.000         NaN
21657645  21657645  2014-03-31        54  1696036      34.000         NaN
21657646  21657646  2014-03-31        54  1696039      61.386         NaN
21657647  21657647  2014-03-31        54  1696042       6.248         NaN
21657648  21657648  2014-03-31        54  1696047      16.810         NaN
21657649  21657649  2014-03-31        54  1696051      23.000         NaN
21657650  21657650  2014-03-31        54  1726009      14.000         NaN

[21657651 rows x 6 columns]

In [14]:
#Filter Dataset
traindata = df[df.date >= '2017-08-01']
traindata.isnull().sum()

id             0
date           0
store_nbr      0
item_nbr       0
unit_sales     0
onpromotion    0
dtype: int64

In [15]:
#Encoding

#Dictionary
encoding_nums = {"onpromotion":     {"True": 1, "False": 0}}

#FindandReplace
traindata = traindata.replace(encoding_nums)

In [16]:
traindata.sample(10)

                  id        date store_nbr item_nbr  unit_sales  onpromotion
124978353  124978353  2017-08-11         2  1416362       3.000            0
124783902  124783902  2017-08-09         4  1239918       1.000            1
124244791  124244791  2017-08-03        54  1473413       0.532            0
124640242  124640242  2017-08-07        39  1463596       4.000            0
124896387  124896387  2017-08-10        10   463901       3.000            0
124586985  124586985  2017-08-07         8   584026       0.779            0
124582285  124582285  2017-08-07         6   514149       1.000            0
124718437  124718437  2017-08-08        24  1913813       1.000            0
124338047  124338047  2017-08-04        49  1660260      20.000            0
124675996  124675996  2017-08-08         1  1288843       9.271            0

In [17]:
traindata.dtypes

id              object
date            object
store_nbr       object
item_nbr        object
unit_sales     float64
onpromotion      int64
dtype: object

In [18]:
#Join Dimensions
traindata = pd.merge(traindata, items, on='item_nbr', how='left')
traindata = pd.merge(traindata, stores , on='store_nbr', how='left')
traindata = pd.merge(traindata, holidays_events , on='date', how='left')
traindata = pd.merge(traindata, oil , on='date', how='left')
traindata = pd.merge(traindata, transactions , on= ['date','store_nbr'], how='left')


traindata.sample(10)

,id,date,store_nbr,item_nbr,unit_sales,onpromotion,family,class,perishable,family_numeric,...,city_numeric,state_numeric,type_y,locale,locale_name,description,transferred,Holiday,dcoilwtico,transactions
610861,124536933,2017-08-06,41,819228,3.531,0,MEATS,2304,1,24,...,13,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1540
1133467,125059539,2017-08-11,46,938126,7.000,0,CLEANING,3004,0,7,...,18,12,Transfer,National,Ecuador,Traslado Primer Grito de Independencia,False,1,48.81,3814
54689,123980761,2017-08-01,29,253145,3.000,0,GROCERY I,1096,0,12,...,8,6,NaN,NaN,NaN,NaN,NaN,NaN,49.19,1355
153021,124079093,2017-08-02,23,1463566,3.000,0,BEVERAGES,1190,0,3,...,0,15,NaN,NaN,NaN,NaN,NaN,NaN,49.60,1029
1353888,125279960,2017-08-13,49,1958166,46.000,0,BEVERAGES,1142,0,3,...,18,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3028
150451,124076523,2017-08-02,22,264299,348.000,1,CLEANING,3032,0,7,...,16,11,NaN,NaN,NaN,NaN,NaN,NaN,49.60,782
628702,124554774,2017-08-06,48,679926,2.000,0,EGGS,2502,1,10,...,18,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3941
1432287,125358359,2017-08-14,38,1942510,3.000,0,BEVERAGES,1122,0,3,...,12,8,NaN,NaN,NaN,NaN,NaN,NaN,47.59,1483
367168,124293240,2017-08-04,26,2016322,1.000,0,BEVERAGES,1152,0,3,...,8,6,NaN,NaN,NaN,NaN,NaN,NaN,49.57,604
568436,124494508,2017-08-06,18,1167188,2.000,1,GROCERY II,1236,0,13,...,18,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1398

In [19]:
#drop columns
traindata.drop(['id', 'family','type_y','locale','locale_name','description','transferred','state','city','type_x'],
               axis=1,inplace=True)
traindata.sample(10)

,date,store_nbr,item_nbr,unit_sales,onpromotion,class,perishable,family_numeric,cluster,type_numeric,city_numeric,state_numeric,Holiday,dcoilwtico,transactions
1037790,2017-08-10,49,838400,20.000,0,2102,1,8,11,0,18,12,1,48.54,2654
231868,2017-08-03,8,153395,2.000,0,2704,1,5,8,3,18,12,NaN,49.03,2595
1521374,2017-08-15,30,215896,1.000,0,1044,0,12,3,2,8,6,1,47.57,825
20023,2017-08-01,9,1463812,8.000,0,1148,0,3,6,1,18,12,NaN,49.19,2271
1247304,2017-08-12,49,1239902,65.829,0,2420,1,28,11,0,18,12,NaN,NaN,2985
1559338,2017-08-15,49,1105211,50.000,0,1074,0,12,11,0,18,12,1,47.57,2814
199017,2017-08-02,47,1038962,9.000,0,2718,1,5,14,0,18,12,NaN,49.60,3936
348746,2017-08-04,16,305234,2.000,0,1044,0,12,3,2,21,14,NaN,49.57,698
1480820,2017-08-15,6,2010456,3.000,0,1052,0,12,13,3,18,12,1,47.57,1589
1400390,2017-08-14,19,1575249,1.000,0,5446,0,27,15,2,7,1,NaN,47.59,1173

In [20]:
traindata.isnull().sum()

date                    0
store_nbr               0
item_nbr                0
unit_sales              0
onpromotion             0
class                   0
perishable              0
family_numeric          0
cluster                 0
type_numeric            0
city_numeric            0
state_numeric           0
Holiday           1154121
dcoilwtico         433022
transactions            0
dtype: int64

In [21]:
#Cleaning data 

#replace NAN with zero
traindata['Holiday'] = traindata['Holiday'].fillna(0)

In [22]:
traindata.sample(10)

,date,store_nbr,item_nbr,unit_sales,onpromotion,class,perishable,family_numeric,cluster,type_numeric,city_numeric,state_numeric,Holiday,dcoilwtico,transactions
870915,2017-08-09,10,1963838,1.000,0,3024,0,7,15,2,18,12,0,49.59,843
186557,2017-08-02,42,1089843,4.000,0,2712,1,5,2,3,3,0,0,49.60,1122
628951,2017-08-06,48,884878,16.000,0,1124,0,3,14,0,18,12,0,NaN,3941
62696,2017-08-01,33,2033554,16.273,1,2012,1,30,3,2,17,9,0,49.19,1098
808656,2017-08-08,35,1393047,2.000,0,1040,0,12,3,2,15,6,0,49.07,660
127171,2017-08-02,8,1457834,11.000,0,1074,0,12,8,3,18,12,0,49.60,2932
653856,2017-08-07,5,210798,3.000,0,1074,0,12,4,3,21,14,0,49.37,1348
933296,2017-08-09,47,361502,6.000,0,1036,0,12,14,0,18,12,0,49.59,3644
313941,2017-08-03,52,557305,7.000,0,2652,1,9,11,0,14,10,0,49.03,2045
1083898,2017-08-11,19,1990061,14.000,0,1144,0,3,15,2,7,1,1,48.81,1158

In [23]:
#Cleaning data 
#replace NAN with mean
dcoilwtico_mean =traindata['dcoilwtico'].mean()
traindata['dcoilwtico'] = traindata['dcoilwtico'].fillna(dcoilwtico_mean)

In [24]:
#Check negative sales
traindata[traindata['unit_sales'] < 0]

,date,store_nbr,item_nbr,unit_sales,onpromotion,class,perishable,family_numeric,cluster,type_numeric,city_numeric,state_numeric,Holiday,dcoilwtico,transactions
5587,2017-08-01,3,1164923,-29.000,0,1132,0,3,8,3,18,12,0,49.190000,3066
5611,2017-08-01,3,1177984,-2.000,0,1002,0,12,8,3,18,12,0,49.190000,3066
21967,2017-08-01,10,1990061,-7.000,0,1144,0,3,15,2,18,12,0,49.190000,984
59830,2017-08-01,31,2011328,-36.000,0,1072,0,12,10,1,1,9,0,49.190000,1570
76543,2017-08-01,41,568133,-3.000,0,1122,0,3,4,3,13,4,0,49.190000,1178
76976,2017-08-01,41,1047681,-4.000,0,1120,0,3,4,3,13,4,0,49.190000,1178
97564,2017-08-01,49,1397067,-1.000,0,3032,0,7,11,0,18,12,0,49.190000,3034
98423,2017-08-01,49,2010315,-1.000,0,4126,0,25,11,0,18,12,0,49.190000,3034
114826,2017-08-02,3,940585,-25.000,0,3010,0,7,8,3,18,12,0,49.600000,3275
117855,2017-08-02,4,1360010,-2.000,0,6329,0,16,9,3,18,12,0,49.600000,1414
120948,2017-08-02,6,253103,-1.000,0,2712,1,5,13,3,18,12,0,49.600000,1868
124303,2017-08-02,7,1160754,-14.000,0,1078,0,12,8,3,18,12,0,49.600000,1849
126463,2017-08-02,8,949296,-2.000,0,3020,0,7,8,3,18,12,0,49.600000,2932
171402,2017-08-02,34,1049595,-1.000,0,6824,0,0,6,1,8,6,0,49.600000,2034
174354,2017-08-02,36,1137146,-3.000,0,1074,0,12,10,4,11,6,0,49.600000,1145
191301,2017-08-02,44,1422036,-1.000,0,1086,0,12,5,0,18,12,0,49.600000,4643
203678,2017-08-02,49,428394,-1.000,0,1032,0,12,11,0,18,12,0,49.600000,3169
224485,2017-08-03,4,1176562,-1.000,0,1026,0,12,9,3,18,12,0,49.030000,1287
224503,2017-08-03,4,1229023,-1.000,0,4176,0,25,9,3,18,12,0,49.030000,1287
226722,2017-08-03,5,1463437,-3.000,0,1072,0,12,4,3,21,14,0,49.030000,1227
232234,2017-08-03,8,514149,-1.000,0,1066,0,12,8,3,18,12,0,49.030000,2595
250760,2017-08-03,19,312113,-2.000,0,2720,1,5,15,2,7,1,0,49.030000,1010
260172,2017-08-03,24,1127860,-1.000,0,1026,0,12,1,3,8,6,0,49.030000,2107
308228,2017-08-03,49,1575252,-1.000,0,5446,0,27,11,0,18,12,0,49.030000,2780
308533,2017-08-03,49,1965074,-3.000,0,3060,0,7,11,0,18,12,0,49.030000,2780
336308,2017-08-04,8,1369873,-1.000,0,6330,0,16,8,3,18,12,0,49.570000,2996
354534,2017-08-04,19,1584379,-1.000,0,7780,0,19,15,2,7,1,0,49.570000,1050
358026,2017-08-04,21,1379154,-1.000,0,6257,0,15,6,1,21,14,0,49.570000,1097
409003,2017-08-04,48,1456952,-1.000,0,3102,0,18,14,0,18,12,0,49.570000,2896
416274,2017-08-04,51,1165989,-1.000,0,1028,0,12,17,0,8,6,0,49.570000,1885
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1040921,2017-08-10,50,1246784,-2.000,0,1074,0,12,14,0,0,15,1,48.540000,2600
1063176,2017-08-11,7,1226507,-2.000,0,6954,0,20,8,3,18,12,1,48.810000,1541
1079685,2017-08-11,17,949053,-2.000,0,1062,0,12,12,2,18,12,1,48.810000,1524
1082544,2017-08-11,18,2056876,-1.000,0,6482,0,31,16,1,18,12,1,48.810000,930
1158734,2017-08-12,3,692106,-1.000,0,3014,0,7,8,3,18,12,0,48.908317,3070
1161434,2017-08-12,4,849941,-0.142,0,2302,1,24,9,3,18,12,0,48.908317,1304
1177022,2017-08-12,11,1986627,-4.000,0,3108,0,18,6,1,2,12,0,48.908317,2230
1193138,2017-08-12,21,1464005,-22.000,0,1148,0,3,6,1,21,14,0,48.908317,1119
1212867,2017-08-12,33,819195,-2.000,0,1002,0,12,3,2,17,9,0,48.908317,892
1226709,2017-08-12,41,559872,-1.000,0,1072,0,12,4,3,13,4,0,48.908317,1254
1291079,2017-08-13,18,158875,-2.000,0,1026,0,12,16,1,18,12,0,48.908317,1075
1303275,2017-08-13,24,1410850,-1.000,0,6353,0,16,1,3,8,6,0,48.908317,1520
1303944,2017-08-13,24,2010786,-1.000,0,1050,0,12,1,3,8,6,0,48.908317,1520
1338262,2017-08-13,44,464374,-1.000,0,1124,0,3,5,0,18,12,0,48.908317,4392
1339034,2017-08-13,44,1093340,-1.000,0,1093,0,12,5,0,18,12,0,48.908317,4392
1369262,2017-08-14,2,1963330,-1.000,0,5446,0,27,13,3,18,12,0,47.590000,1788
1374823,2017-08-14,5,770463,-6.000,0,1120,0,3,4,3,21,14,0,47.590000,1225
1386818,2017-08-14,11,165718,-42.000,0,2718,1,5,6,1,2,12,0,47.590000,2203
1400515,2017-08-14,19,1958202,-1.000,0,1142,0,3,15,2,7,1,0,47.590000,1173
1401899,2017-08-14,20,1325325,-1.000,0,3020,0,7,6,1,18,12,0,47.590000,1522
1415036,2017-08-14,28,165704,-241.000,0,1016,0,12,10,4,8,6,0,47.590000,1064
1437073,2017-08-14,41,1010752,-1.000,0,1036,0,12,4,3,13,4,0,47.590000,1045
1455835,2017-08-14,49,507479,-1.000,0,2502,1,10,11,0,18,12,0,47.590000,2916
1462101,2017-08-14,51,1575223,-1.000,0,5446,0,27,17,0,8,6,0,47.590000,1446
1469844,2017-08-15,1,1960304,-1.000,0,1032,0,12,13,3,18,12,1,47.570000,1693
1475325,2017-08-15,4,682884,-1.000,0,3004,0,7,9,3,18,12,1,47.570000,1283
1478044,2017-08-15,5,1455485,-1.000,0,1152,0,3,4,3,21,14,1,47.570000,1310
1481148,2017-08-15,7,215303,-1.000,0,1026,0,12,8,3,18,12,1,47.570000,1780
1483223,2017-08-15,7,2048193,-1.000,0,1016,0,12,8,3,18,12,1,47.570000,1780
1546946,2017-08-15,44,1464153,-1.000,0,1190,0,3,5,0,18,12,1,47.570000,3815

In [25]:
#cleaning Data
# Drop Negative sales
traindata.drop(traindata[traindata['unit_sales'] < 0].index, inplace = True)

In [26]:
#Check negative sales
traindata[traindata['unit_sales'] < 0]

Empty DataFrame
Columns: [date, store_nbr, item_nbr, unit_sales, onpromotion, class, perishable, family_numeric, cluster, type_numeric, city_numeric, state_numeric, Holiday, dcoilwtico, transactions]
Index: []

In [27]:
traindata.sample(10)

,date,store_nbr,item_nbr,unit_sales,onpromotion,class,perishable,family_numeric,cluster,type_numeric,city_numeric,state_numeric,Holiday,dcoilwtico,transactions
812594,2017-08-08,37,1937350,1.0,0,1002,0,12,2,3,3,0,0,49.070000,1406
222961,2017-08-03,3,1914503,1.0,0,3102,0,18,8,3,18,12,0,49.030000,2962
1393066,2017-08-14,15,318932,4.0,0,2644,1,9,15,2,9,7,0,47.590000,1431
1237943,2017-08-12,46,212552,6.0,0,1044,0,12,14,0,18,12,0,48.908317,3697
662390,2017-08-07,8,1948161,4.0,0,2650,1,9,8,3,18,12,0,49.370000,2646
650750,2017-08-07,3,1428330,12.0,0,1120,0,3,8,3,18,12,0,49.370000,3046
880659,2017-08-09,17,1246493,9.0,0,1016,0,12,12,2,18,12,0,49.590000,1284
633849,2017-08-06,50,360705,8.0,0,1072,0,12,14,0,0,15,0,48.908317,2969
829464,2017-08-08,45,2010315,1.0,0,4126,0,25,11,0,18,12,0,49.070000,3476
528460,2017-08-05,52,521818,12.0,0,1058,0,12,11,0,14,10,1,48.908317,2837

In [28]:
#Feature Engineering
traindata['date'] = pd.to_datetime(traindata['date'], errors='coerce')
traindata ['month'] = traindata['date'].dt.month
traindata ['dayofthemonth'] = traindata['date'].dt.day
traindata ['dayofweek'] = traindata['date'].dt.dayofweek
traindata.sample(10)

,date,store_nbr,item_nbr,unit_sales,onpromotion,class,perishable,family_numeric,cluster,type_numeric,city_numeric,state_numeric,Holiday,dcoilwtico,transactions,month,dayofthemonth,dayofweek
1532652,2017-08-15,37,1158720,10.0,0,1040,0,12,2,3,3,0,1,47.570000,1373,8,15,1
111734,2017-08-02,2,311954,8.0,0,3006,0,7,13,3,18,12,0,49.600000,1952,8,2,2
724515,2017-08-07,44,1673295,13.0,0,2016,1,30,5,0,18,12,0,49.370000,4049,8,7,0
941277,2017-08-09,50,724498,1.0,0,1028,0,12,14,0,0,15,0,49.590000,2480,8,9,2
727849,2017-08-07,45,2048113,9.0,0,1016,0,12,11,0,18,12,0,49.370000,3756,8,7,0
974443,2017-08-10,12,1920072,3.0,0,1016,0,12,15,2,10,3,1,48.540000,1182,8,10,3
446258,2017-08-05,11,830749,4.0,1,1074,0,12,6,1,2,12,1,48.908317,2350,8,5,5
447732,2017-08-05,11,2101795,4.0,1,4222,0,2,6,1,2,12,1,48.908317,2350,8,5,5
185846,2017-08-02,42,315277,8.0,0,1040,0,12,2,3,3,0,0,49.600000,1122,8,2,2
1148116,2017-08-11,51,2011583,2.0,0,1132,0,3,17,0,8,6,1,48.810000,1922,8,11,4